@font-face {
    font-family: "lato-thin";
    src: url("/fonts/lato/Lato-Regular.ttf");
}

@font-face {
    font-family: "Roboto";
    src: url("/fonts/Roboto/Roboto-Regular.ttf");
}

@font-face {
    font-family: "outfit";
    src: url("/fonts/Outfit-Regular.ttf");
}

/* ------------------------------------Utilidades---------------------------- */
body {
    font-family: "outfit";
}

p {
    font-size: 16px;
    color: #70808a;
    line-height: 25px;
}

/* ------------------------------------Utilidades---------------------------- */

.d-flex-center {
    display: flex;
    align-items: center;
}

.d-flex-center2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.m-tb-100 {
    margin-top: 100px;
    margin-bottom: 100px;
}

.m-b-20 {
    margin-bottom: 20px;
}

.m-b-40 {
    margin-bottom: 40px;
}

.min-height-100{
    min-height: 100vh;
}

.btn-border-10{
    padding: 10px;
    color: #2b1e59;
    text-decoration: none;
    border-radius: 50px;
    border: 2px solid #2b1e59;
    transition: 0.5s ease-out;
    background-color: #fff;
}

.btn-border-20{
    padding: 20px;
    color: #2b1e59;
    text-decoration: none;
    border-radius: 50px;
    border: 2px solid #2b1e59;
    transition: 0.5s ease-out;
    background-color: #fff;
}

.btn-border-10:hover, .btn-border-20:hover{
    
    color: #ffffff;
    background-color: #2b1e59;
}


.color-tema{
    color: #2b1e59;
}

/* ------------------------------------Header---------------------------- */
.header-desktop {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 99;
    transition: 0.2s;
    background-color: transparent;
}

@keyframes showHeader {
    from {
        top: -50px;
    }

    to {
        top: 0px;
    }
}

.header-desktop-scrolled {
    position: fixed;
    animation-name: showHeader;
    animation-duration: 0.5s;
    background-color: #fff;
}

.header-mobile {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 99;
    transition: 0.2s;
}

.header-mobile-scrolled,
.header-desktop-scrolled {
    box-shadow: 0px 0px 80px rgba(43, 30, 89, 0.07), 0px 0px 33.4221px rgba(43, 30, 89, 0.0503198), 0px 0px 17.869px rgba(43, 30, 89, 0.0417275), 0px 0px 10.0172px rgba(43, 30, 89, 0.035), 0px 0px 5.32008px rgba(43, 30, 89, 0.0282725), 0px 0px 2.21381px rgba(43, 30, 89, 0.0196802)
}

/* top-bar */
.top-bar {
    display: none;
    border-bottom: 1px solid #ddd;
}


@keyframes showTopBar {
    from {
        height: 0px;

    }

    to {

        height: auto;
    }
}

@keyframes hideTopBar {
    from {
        transform: scaleY(0.5);
        height: 60px;
    }

    to {
        transform: scaleY(0);
        height: 0px;
        display: none;
    }
}

.top-bar-hide {
    animation-name: hideTopBar;
    animation-duration: 2s;
    transition: 1s;
    display: none;

}

.top-bar-show {
    animation-name: showTopBar;
    animation-duration: 0.1s;
    display: block;
}


.top-bar-partes {
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
}

.top-bar-partes nav {
    display: flex;
    gap: 20px;
    margin: 0;
}

.top-bar-partes-esquerda .menu-contactos-links>a {
    color: #1a1a1a;
    transition: 1s;
    transition: transform 10s;
}

.top-bar-partes-esquerda .menu-contactos-links>a:hover {
    color: #2b1e59;
    text-decoration: underline;
}

.top-bar-partes-esquerda .menu-contactos-links>a>i {}

.top-bar-partes-direita .menu-social-links>a {
    padding: 0 10px;
    font-size: 20px;
}

.menu-social-links .icone-facebook {
    color: #3b5998 !important;
}

.menu-social-links .icone-whatsapp {
    color: #25D366 !important;
}

.menu-social-links .icone-linkedin {
    color: #0e76a8 !important;
}

.menu-social-links .icone-youtube {
    color: #c4302b !important;
}


.top-bar-partes nav>a {
    text-decoration: none;
    gap: 10px;
}

.menu-partes-esquerda.menu-logo a>img {
    width: 150px;
    transition: 0.2s;
}

.menu-partes-esquerda.menu-logo a>svg {
    width: 150px;
    transition: 0.2s;
}

.menu-partes-esquerda.menu-logo .link-img{
    display: none;
}

.menu-partes-esquerda.menu-logo .link-svg{
    display: block;
}

.header-desktop-scrolled .link-img {
    display: block!important;
}

.header-desktop-scrolled .link-svg {
    display: none!important;
}

.header-desktop-scrolled .menu-partes-esquerda.menu-logo a>img {
    width: 140px;
}

.menu-partes-direita nav {
    padding: 5px 0;
}

.menu-partes-direita .menu-links>a {
    padding: 5px;
    color: #ffffff;
    transition: ease 0.1s;
}

.header-desktop-scrolled .menu-partes-direita .menu-links>a {
    color: #1a1a1a;
}

.menu-active {
    border-bottom: 1px solid #dddddd !important;
}

@media (min-width: 576px) {}

@media (min-width: 768px) {}

@media (min-width: 992px) {
    .header-mobile {
        display: none;
    }

    .header-desktop {
        display: block;
    }

    .menu-active {}

    .menu-partes-direita .menu-links>a:hover {
        border-bottom: 1px solid #2b1e59 !important;
        transition: ease 0.1s;

    }
}

@media (min-width: 1200px) {}

@media (min-width: 1400px) {}


/* ------------- menu ----------*/
.menu {
    /*border-bottom: 1px solid #666;*/
    position: sticky;
    top: 0;
}

.menu-partes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    transition: 0.2s ease-in;
}

.header-desktop-scrolled .menu-partes {
    padding: 10px 0;
}

.menu-logo>a {}

.menu-partes nav {
    display: flex;
    gap: 20px;
    margin: 0;
}


.menu-partes nav>a {
    text-decoration: none;
    gap: 10px;
}

/* -------------menu-mobile ----------*/
.menu-mobile {
    /*border-bottom: 1px solid #666;*/
}

.menu-mobile-partes {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    transition: 0.2s ease-in;
}

.header-mobile-scrolled .menu-mobile-partes {
    padding: 5px 0;
}

.menu-mobile-logo a>img {
    height: 30px;
    width: auto;
}

.menu-mobile-button {}

.menu-mobile-partes nav.menu-links {
    display: flex;
    gap: 20px;
    margin: 0;
}


.menu-mobile-partes nav.menu-links>a {
    text-decoration: none;
    gap: 10px;
}

.menu-mobile-content nav.menu-links>a {
    float: left;
    width: 100%;
    text-decoration: none;
    color: #1a1a1a;
    padding: 15px 5px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
    transition: 0.1s;
}

.menu-mobile-content nav.menu-links>a:hover {
    background-color: rgba(101, 0, 191, 0.1) !important;
    color: rgb(101, 0, 191);
}

.menu-mobile-content-bottom .menu-contactos-links>a {
    color: #1a1a1a;
    padding: 5px;
    transition: 0.1s;
}

.menu-mobile-content-bottom .menu-contactos-links>a:hover {
    color: #2b1e59;
    text-decoration: underline;
}

.menu-mobile-content-bottom .menu-contactos-links>a>i {
    
}

.menu-mobile-content-bottom .menu-contactos-links>a>i {
    
}

.menu-mobile-content-bottom .menu-social-links {
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.menu-mobile-content-bottom .menu-social-links>a {
    padding: 5px;
    font-size: 20px;
}

.menu-mobile-content-bottom .menu-social-links>a:hover {
    color: rgba(101, 0, 191, 0.1);
}


@media (min-width: 992px) {
    .menu-active {
        border-left: none;
        border-bottom: 1px solid;
        padding-left: 0;
    }
}


/* Menu-body */
.mobile-menu-body {
    background: #fff;
    width: 40%;
    padding: 35px;
}


.mobile-menu-body .menu-mobile-content {
    width: 100%;
}

/* Responsive Menu */
.menu-close,
.menu-open {
    display: none;

}

.menu-close i,
.menu-open i {
    color: #1a111a;

}


@media screen and (max-width: 992px) {

    .menu-open,
    .menu-close {
        cursor: pointer;
        color: #1a1a1a;
        text-decoration: none;
        font-size: 26px;
    }

    .menu-open {
        display: block;

    }

    .menu-close {
        display: none;
    }

    .menu-close:hover {
        color: #2b1e59;
    }

    .mobile-menu-body {
        position: relative;
        display: none;
    }

    .mobile-menu-body.active {
        display: block;
    }

    .menu-open {
        display: block !important;
        float: right;
    }

    .mobile-menu-active .menu-close {
        display: block !important;
        z-index: 15;
        position: absolute;
        right: 13px;
        top: 0px;
    }

    .mobile-menu-body.active {
        position: fixed;
        left: 0px;
        top: 0px;
        margin-top: 0px !important;
        width: 60%;
        height: 100vh;
        z-index: 14;
        animation: translateX 400ms 0ms ease-in-out forwards !important;
    }

    .mobile-menu-body.active .menu-mobile-content {
        overflow: scroll;
        transform-origin: top center !important;
    }

    @keyframes translateX {
        0% {
            opacity: 0;
            transform: translateX(-160px);
        }

        80% {
            transform: translateX(-5px);
        }

        100% {
            opacity: 1;
            transform: translateX(0px);
        }
    }

    .mobile-menu-body .menu-mobile-content nav.menu-links {
        width: 100%;
    }

    #menu-overlay {
        background-color: rgba(0, 0, 0, .3);
        float: left;
        display: none;
        width: 100%;
        height: 100vh;
        z-index: 13;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }

    #menu-overlay.show {
        display: block !important;
    }

    .menu-mobile-content-bottom {
        position: absolute;
        bottom: 10px;
        left: 0;
        right: 0;
        padding: 30px;
    }

    .menu-mobile-content-bottom .menu-social-links {
        display: flex;
        justify-content: space-between;
    }

    .menu-mobile-content-bottom .menu-contactos-links {
        display: block;
        margin-bottom: 15px;
    }

    .menu-mobile-content-bottom .menu-contactos-links a {
        margin-bottom: 5px;
        display: block;
        margin-bottom: 5px;
        width: 100%;
        text-decoration: none;
    }


}

@media screen and (max-width: 500px) {
    .mobile-menu-body.active {
        width: 70%;
    }
}

@media screen and (max-width: 400px) {
    .mobile-menu-body.active {
        width: 100%;
    }
}



/******************************* Section *******************/

.section-page-title {
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 10px;
}

.section {
    margin: 25px 0;
    padding: 25px 0;
    
}

.section-title {
    margin-bottom: 50px;
}

.section-title h4 {
    color: #2b1e59;
}

.section-title-right {
    text-align: center;
}

.section-error{
    min-height: 100vh;
}

.section-error h1{
    font-size: 4rem!important;
}

@media (max-width: 767px) {
    .section-title {
        text-align: center;
    }

   
}

@media (min-width: 576px) {
    .section {
        margin: 35px 0;
    }
}

@media (min-width: 768px) {

    .section {
        margin: 40px 0;
    }

    .section-title-right {
        text-align: right;
    }

    .section-error h1{
        font-size: 6rem!important;
    }

}

@media (min-width: 992px) {
    .section {
        margin: 45px 0;
    }



}

@media (min-width: 1200px) {
    .section {
        margin: 60px 0;
    }
}


@media (min-width: 1400px) {}



/******************************* Footer *******************/
.footer {
    background-color: #ddd;
    position: relative;
    z-index: 9;
}

.footer-nav{
    padding: 10px 0;
}

.footer-nav:first-child{
    
}

.footer nav {
    display: block;
}

.footer nav>a {
    display: block;
    width: 100%;
    text-align: left;
    text-decoration: none;
    color: #70808a;
    padding: 5px;
    transition: .2s;
}

.footer nav>a:hover {
    color: #2b1e59;
}

.footer-rodape {
    margin-top: 10px;
    background-color: #2b1e59;
    text-align: center;
}

.footer-rodape p {
    margin: 0;
    padding: 10px 0;
    color: #fff;
    font-size: 12px;
}

@media (min-width: 768px) {
    .footer nav {
        display: flex;
    }
    
    .footer nav>a {
        display: block;
        color: #70808a;
        text-align: center;
    }
}

@media (min-width: 992px) {
   
}

@media (min-width: 1200px) {
   
}
@media (min-width: 1400px) {
   
}



/******************************* Página Inicial *******************/
.hero-section-bg{
    width: 100%;
    height: 100vh;
    position: absolute;
    float: left;
    display: flex;
}



.hero-section-bg svg{
    opacity: 0.06;
    position: absolute;
    width: 100%;
}

.hero-section {
    min-height: 100vh;
    background-position: center;
    background-size: cover;
    background-color: #2b1e59;
    color: #ffffff;
}
.hero-section h1 {
    
    
   
    font-size: 2rem;
    margin-top: 100px;
}

@keyframes textclip {
    to {
        background-position: 200% center;
    }
}

.hero-section-subtitulo {
    padding-top: 40px;
    padding-bottom: 20px;
}



.hero-section-subtitulo h4 {
    color: #2b1e59;
}

.hero-section img {
    width: 70%;
}

.hero-section .hero-image {
    padding-top: 20px;
    padding-bottom: 200px;
}

.hero-section a {
    padding: 20px;
    color: #fff;
    text-decoration: none;
    border-radius: 50px;
    border: 2px solid #fff;
    transition: 0.5s ease-out;
    background-color: #2b1e59;
}

.hero-section a:hover {
    background: #fff;
    color: #2b1e59;
    
}

.section-sobre{
    background-image: url(/images/descubra.gif);
    background-position: center;
    background-size: cover;
}

.section-sobre .section-sobre-texto {
    text-align: left;
    background: rgba(255,255,255, 0.7);
    border-radius: 10px;
    padding: 20px 10px;
}

.section-sobre-texto h2{
    color: #2b1e59;
    font-weight: 600;
}



.section-perguntas{
    position: relative;
    z-index: 9;
}

.section-perguntas-bg{
    position: absolute;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.section-perguntas-bg svg{
    width: 50%;
    position: relative;
    
}

.section-perguntas-card{
    border: none;
    min-height: 200px;
    border-radius: 10px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.section-perguntas-card.azul{
    background: #2b1e59;
}

.section-perguntas-card.cinza{
    background: linear-gradient(120.73deg, rgba(203, 212, 220, 0.2) 16.86%, rgba(177, 200, 233, 0.2) 87.02%),#f3f4f6;
}

.section-perguntas-card p{
    text-align: center;
 }


.section-perguntas-card.cinza p{
   color: #70808a;
}

.section-perguntas-card.azul p{
    color: #fff;
 }

.section-sobre .section-sobre-imagens img {
    width: 100%;
    margin-bottom: 20px;
    border-radius: 10px;
}

.section-servicos {
    
    display: flex;
    align-items: center;

}

.section-servicos-item {
    margin-bottom: 20px;

}


.section-servicos .card {
    border: none;
    transition: 0.2s;
    border-radius: 1rem;
    box-shadow: 0px 0px 80px rgba(43, 30, 89, 0.07), 0px 0px 33.4221px rgba(43, 30, 89, 0.0503198), 0px 0px 17.869px rgba(43, 30, 89, 0.0417275), 0px 0px 10.0172px rgba(43, 30, 89, 0.035), 0px 0px 5.32008px rgba(43, 30, 89, 0.0282725), 0px 0px 2.21381px rgba(43, 30, 89, 0.0196802);
}

.section-servicos .card:hover {
    cursor: pointer;
    scale: 1.05;
}

.section-servicos a{

    text-decoration: none;
}

.section-servicos .card-title{
    color: #0d0d0d;
}

.section-servicos .card-body{
    padding: 20px 30px;
}
.section-servicos .card svg, .section-servicos .card img{
    width: 50px;
    margin-bottom: 20px;
}

.section-servicos .card-icon::before{
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    background-color: #2b1e5980;
    position: absolute;
    z-index: 1;
    border-radius: 50%;
    top: 55px;
    left: 50px;
}

.section-servicos .card-icon-desenvolvimento::before{
    left: 60px;
}
.section-servicos .card-icon-formacao::before{
    left: 30px;
}
.section-servicos .card-icon-consultoria::before{
    left: 50px;
}

.section-servicos .card h5 {
    margin-bottom: 20px;
}

.section-servicos-mais {
    
}

.section-servicos-mais-imagem img {
    width: 100%;
}

.section-servicos-mais p {
    margin-bottom: 25px;
}

.section-servicos-mais p i {
    font-size: 20px;
}

.section-servicos-mais a {
    padding: 10px;
    color: #2b1e59;
    text-decoration: none;
    border-radius: 50px;
    border: 2px solid #2b1e59;
    transition: 0.5s ease-out;

}

.section-servicos-mais a:hover {

    color: #fff;
    background-color: #2b1e59;
}


.section-timeline{
    background-image: url("/images/bg1.png");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}


.timeline::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    border-left: 4px dotted #70808a;
}

.timeline-container {
    padding: 10px 20px;
    position: relative;
    background-color: inherit;
    width: 50%;
}



.timeline-container img {
    width: 80%;
}


.timeline-container::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    right: -12px;
    background-color: #2b1e59;
    top: 35px;
    border-radius: 50%;
    z-index: 1;
}


.left {
    left: 0;
    text-align: right!important;
}


.right {
    left: 50%;
    text-align: left!important;
}


.right::after {
    left: -8px;
}

.content {
    padding: 20px 30px;
    background-color: white;
    position: relative;
    border-radius: 1rem;
    box-shadow: 0px 0px 80px rgba(43, 30, 89, 0.07), 0px 0px 33.4221px rgba(43, 30, 89, 0.0503198), 0px 0px 17.869px rgba(43, 30, 89, 0.0417275), 0px 0px 10.0172px rgba(43, 30, 89, 0.035), 0px 0px 5.32008px rgba(43, 30, 89, 0.0282725), 0px 0px 2.21381px rgba(43, 30, 89, 0.0196802);
    
}

.content h4{
    font-weight: 600;
    color: #2b1e59;
}

.content img{
    width: 100%;
    border-radius: 10px;
}


.brand-carousel {
	margin: 0;
}

.brand-carousel img{
    width: 100px;
    opacity: 0.4;
}

.brand-carousel .box{
    width: 90px;
    margin: 0 auto;
    
}

.owl-dots {
	text-align: center;
	margin-top: 40px;
}

.owl-dot {
    display: inline-block;
    height: 15px !important;
    width: 15px !important;
    background-color: #fff5fc !important;
    opacity: 0.8;
    border-radius: 50%;
    margin: 0 5px;
}

.owl-dot.active {
	background-color: #2b1e59 !important;
}

@media screen and (max-width: 600px) {

    
    .timeline::after {
        left: 31px;
    }

    
    .timeline-container {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }

    
    .timeline-container::before {
        left: 60px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent;
    }

    
    .left::after,
    .right::after {
        left: 23px;
    }


    .left {
        left: 0;
        text-align: left!important;
    }
    
    
    .right {
        left: 0%;
        text-align: left!important;
    }
}

@media (min-width: 768px) {

    .hero-section h1 {
        font-size: 2rem;
    }

    .section-servicos-mais-imagem {
        padding-right: 50px;
    }

    .section-sobre .section-sobre-texto {
        text-align: justify !important;
    }


    .section-servicos span {
        font-size: 3rem;
    }
}

@media (min-width: 992px) {

    .hero-section h1 {
        margin-top: 0px;
    }

    .hero-section-subtitulo {
        padding-top: 0;
    }

    .hero-section .hero-image {
        padding: 0;
    }

    .hero-section img {
        width: 80%;
    }
}

/******************************* Página dos contactos *******************/
.section-contacto {
    background-image: url("/images/bg1.png");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.section-contacto a {
    display: block;
    width: 100%;
    color: #2b1e59;
    text-decoration: none;
    padding: 10px 0;
    transition: .2s;
    
}

.section-contacto a:hover {
    color: #70808a;
    text-decoration: underline;
}

.section-contacto .menu-social-links > a {
    display: inline;
    margin-right: 10px;
    padding: 5px 0;
    margin-bottom: 6px;
}


.form-control{
    border: 2px solid #ced4da;
}

.form-control:focus {
    color: #212529;
    background-color: #fff;
    border: 2px solid #2b1e59;
    box-shadow: none;
  }

  .section-contacto .card{
    border: none;
    transition: 0.2s;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0px 0px 80px rgba(43, 30, 89, 0.07), 0px 0px 33.4221px rgba(43, 30, 89, 0.0503198), 0px 0px 17.869px rgba(43, 30, 89, 0.0417275), 0px 0px 10.0172px rgba(43, 30, 89, 0.035), 0px 0px 5.32008px rgba(43, 30, 89, 0.0282725), 0px 0px 2.21381px rgba(43, 30, 89, 0.0196802);
  }



/******************************* Página do recrutamento *******************/
.section-recrutamento .table thead, .section-recrutamento thead th{
    border: none;
}

.section-recrutamento .table thead tr{
    border-bottom: 1px solid #ddd;
}
.section-recrutamento .table td{
    padding: 40px 0;
}

.section-recrutamento .card{
    border: none;
    transition: 0.2s;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0px 0px 80px rgba(43, 30, 89, 0.07), 0px 0px 33.4221px rgba(43, 30, 89, 0.0503198), 0px 0px 17.869px rgba(43, 30, 89, 0.0417275), 0px 0px 10.0172px rgba(43, 30, 89, 0.035), 0px 0px 5.32008px rgba(43, 30, 89, 0.0282725), 0px 0px 2.21381px rgba(43, 30, 89, 0.0196802);
}