<footer class="footer">
    <div class="container">
        <div class="row">
           
            <div class="col-12 footer-nav">
                <nav>
                    <a href="/recrutamento">Recrutamento</a>
                    <a href="/politica-de-privacidade">Política de Privacidade</a>
                    <a href="/termos-de-uso">Termos De Uso</a>
                    <a href="/utilizacao-de-cookies">Utilização de Cookies</a>
                </nav>
            </div>
        </div>
    </div>
    <div class="footer-rodape">
        <p>2023 © Todos os direitos reservados - Villasoft</p>
    </div>
</footer>
<script src="/js/jquery.min.js"></script>
<script src="/js/jquery.wow.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.js"></script>
<script src="/js/rellax.min.js"></script>
<script>
    let rellax = new Rellax(".rellax");
    var wow = new WOW({
        mobile: true
    });
    wow.init();
</script>
<script src="/js/app.js"></script>