<header id="header-desktop" class="header-desktop">

    <div id="top-bar" class="top-bar">
        <div class="container">
            <div class="top-bar-partes">
                <div class="top-bar-partes-esquerda menu-contactos-links">
                    <nav class="menu-contactos-links">
                        <a href="tel:+244925438525" data-bs-toggle="tooltip" data-bs-placement="bottom"
                            title="Telefonar para a empresa"><i class="fa-solid fa-phone"></i> +244 999 999 999 </a>
                        <a href="mailto:contacto@empresa.com" data-bs-toggle="tooltip" data-bs-placement="bottom"
                            title="Enviar email para a empresa"> <i class="fa-solid fa-envelope"></i>
                            contacto@ empresa.com </a>
                        <a href="https://maps.app.goo.gl/tUuPBS48JMA7De7y9" data-bs-toggle="tooltip"
                            data-bs-placement="bottom" title="Ver localização no mapa"><i
                                class="fa-solid fa-location-dot"></i> Luanda - Talatona</a>
                    </nav>
                </div>
                <div class="top-bar-partes-direita menu-social-links">
                    <nav class="menu-social-links">
                        <a href="https://wa.me/244925438525" class="icone-whatsapp" data-bs-toggle="tooltip"
                            data-bs-placement="bottom" title="Enviar Mensagem no Whatsapp"><i
                                class="fa-brands fa-square-whatsapp"></i></a>
                        <a href="#" class="icone-linkedin" data-bs-toggle="tooltip" data-bs-placement="bottom"
                            title="Perfil no Linkedin"><i class="fa-brands fa-linkedin"></i></a>
                        <a href="#" class="icone-youtube" data-bs-toggle="tooltip" data-bs-placement="bottom"
                            title="Canal no Youtube"><i class="fa-brands fa-youtube"></i></a>
                        <a href="#" class="icone-facebook" data-bs-toggle="tooltip" data-bs-placement="bottom"
                            title="Perfil no Facebook"><i class="fa-brands fa-facebook"></i></a>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <div class="menu">
        <div class="container">
            <div class="menu-partes">
                <div class="menu-partes-esquerda menu-logo">
                    <a href="/" class="link-svg">
                        <?xml version="1.0" encoding="UTF-8"?><svg id="" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 293.35 67.68"><g id="Camada_1-2"><g><g><path d="M28.34,62.69h-1.97c-.4,0-.66-.41-.49-.77L51.46,7.04c.23-.5,.73-.81,1.28-.81h1.92L28.34,62.69Z" style="fill:#fff;"/><polygon points="33.42 62.69 30.6 62.69 56.92 6.23 59.75 6.23 33.42 62.69" style="fill:#fff;"/><polygon points="38.5 62.69 35.68 62.69 62 6.23 64.83 6.23 38.5 62.69" style="fill:#fff;"/><path d="M42.68,62.69h-1.92L67.09,6.23h0c1.32,0,2.19,1.37,1.63,2.56l-24.75,53.09c-.23,.5-.73,.81-1.28,.81Z" style="fill:#fff;"/><path d="M26.2,62.69h1.92S1.8,6.23,1.8,6.23h0c-1.32,0-2.19,1.37-1.63,2.56L24.93,61.87c.23,.5,.73,.81,1.28,.81Z" style="fill:#fff;"/><polygon points="27 55.42 27.95 53.46 6.52 6.23 4.06 6.23 27 55.42" style="fill:#fff;"/><polygon points="29.1 51.26 30.21 49.28 11.28 6.23 9.14 6.23 29.1 51.26" style="fill:#fff;"/><path d="M26.19,30.87L16.11,7.36c-.22-.52-.73-.85-1.3-.85h-.87S30.83,45.89,30.83,45.89l.93-2.12-5.57-12.91" style="fill:#fff;"/><g><path d="M73.61,55.64h-2.82V16.98h2.82V55.64Z" style="fill:#fff;"/><path d="M107.71,55.64h-22.77V16.98h2.82V52.82h19.95v2.82Z" style="fill:#fff;"/><path d="M145.95,55.64h-3.39l-4.73-12.43h-19.03c-.68,1.95-1.42,4.02-2.22,6.2-.8,2.18-1.57,4.25-2.29,6.23h-3c1.27-3.34,2.52-6.61,3.76-9.82,1.24-3.2,2.47-6.38,3.69-9.55,1.22-3.17,2.45-6.35,3.69-9.55,1.24-3.2,2.49-6.46,3.76-9.78h3.99l15.78,38.7Zm-8.93-14.65l-8.97-21.5-8.51,21.5h17.48Z" style="fill:#fff;"/><path d="M166.18,56.35c-2.61,0-4.9-.28-6.85-.83-1.95-.55-3.6-1.34-4.93-2.37-1.33-1.02-2.35-2.26-3.05-3.71s-1.12-3.08-1.24-4.89h2.79c.28,1.74,.81,3.19,1.59,4.34,.78,1.15,1.74,2.07,2.88,2.75s2.44,1.17,3.9,1.45c1.46,.28,3.01,.42,4.66,.42s3.27-.18,4.64-.55c1.38-.36,2.55-.89,3.53-1.59,.98-.69,1.72-1.53,2.24-2.51,.52-.98,.78-2.08,.78-3.3,0-1.29-.22-2.38-.67-3.27s-1.2-1.65-2.26-2.31c-1.06-.66-2.45-1.25-4.18-1.76-1.73-.52-3.88-1.05-6.44-1.59-2.12-.47-3.94-1.01-5.46-1.62-1.52-.61-2.77-1.32-3.76-2.14-.99-.81-1.72-1.74-2.19-2.79-.47-1.05-.71-2.26-.71-3.65,0-1.51,.32-2.88,.95-4.13,.63-1.25,1.54-2.32,2.7-3.21,1.17-.89,2.57-1.59,4.2-2.08,1.64-.49,3.44-.74,5.42-.74s3.79,.23,5.44,.69c1.65,.46,3.09,1.12,4.33,2,1.24,.87,2.24,1.93,3,3.18,.76,1.25,1.25,2.66,1.46,4.24h-2.72c-.26-1.04-.68-2-1.27-2.9-.59-.89-1.35-1.67-2.28-2.31-.93-.65-2.04-1.15-3.32-1.52s-2.75-.55-4.4-.55c-3.46,0-6.08,.64-7.86,1.91-1.78,1.27-2.67,3.01-2.67,5.22,0,1.01,.16,1.9,.49,2.65,.33,.75,.89,1.43,1.68,2.03,.79,.6,1.83,1.13,3.12,1.59,1.29,.46,2.91,.89,4.84,1.29,1.13,.24,2.29,.48,3.5,.74,1.2,.26,2.37,.57,3.51,.92,1.14,.35,2.23,.79,3.27,1.31,1.04,.52,1.94,1.15,2.7,1.91,.76,.75,1.38,1.65,1.84,2.7,.46,1.05,.69,2.29,.69,3.72,0,1.65-.35,3.16-1.04,4.54s-1.66,2.57-2.89,3.57c-1.24,1-2.71,1.78-4.41,2.33-1.71,.55-3.56,.83-5.56,.83Z" style="fill:#fff;"/><path d="M204.94,16.28c2.64,0,5.07,.47,7.31,1.41,2.24,.94,4.16,2.28,5.77,4.03,1.61,1.74,2.87,3.84,3.78,6.28,.91,2.45,1.36,5.18,1.36,8.19s-.45,5.72-1.34,8.19-2.15,4.6-3.76,6.37c-1.61,1.78-3.53,3.15-5.75,4.13-2.22,.98-4.68,1.46-7.36,1.46s-5.14-.49-7.38-1.46c-2.24-.98-4.16-2.35-5.77-4.11-1.61-1.77-2.87-3.88-3.76-6.36-.89-2.47-1.34-5.21-1.34-8.23s.45-5.78,1.36-8.23c.91-2.45,2.17-4.54,3.79-6.27,1.62-1.73,3.55-3.07,5.77-4.01s4.67-1.41,7.33-1.41Zm-.04,37.25c2.21,0,4.25-.38,6.12-1.15s3.49-1.89,4.85-3.37c1.37-1.48,2.42-3.3,3.18-5.45,.75-2.15,1.13-4.61,1.13-7.36s-.38-5.22-1.15-7.34c-.77-2.12-1.82-3.9-3.18-5.35-1.35-1.45-2.95-2.54-4.8-3.28s-3.87-1.11-6.05-1.11-4.29,.38-6.16,1.13c-1.87,.75-3.49,1.85-4.85,3.3-1.37,1.45-2.43,3.23-3.2,5.35-.76,2.12-1.15,4.55-1.15,7.31s.38,5.21,1.13,7.36c.75,2.15,1.81,3.97,3.16,5.45,1.35,1.48,2.97,2.61,4.84,3.37s3.91,1.15,6.13,1.15Z" style="fill:#fff;"/><path d="M256.42,19.81h-22.21v14.51h19.31v2.83h-19.31v18.5h-2.82V16.98h25.03v2.82Z" style="fill:#fff;"/><path d="M291.44,19.81h-13.52V55.64h-2.83V19.81h-13.38v-2.82h29.73v2.82Z" style="fill:#fff;"/></g></g><line x1="278.07" y1="59.01" x2="275.1" y2="59.05" style="fill:#fff; stroke:#dddddd; stroke-miterlimit:10; stroke-width:3px;"/></g></g></svg>
                    </a>
                    <a href="" class="link-img">
                        <img src="/images/logotipo.png" alt="">
                    </a>
                </div>
                <div class="menu-partes-direita menu-links">
                    <nav class="menu-links">
                        <a href="/">Início</a>

                        <a href="/contactos">Contactos</a>
                        <a href="/recrutamento">Recrutamento</a>
                    </nav>
                </div>
            </div>
        </div>
    </div>

</header>
<header id="header-mobile" class="header-mobile">

    <div class="menu-mobile">
        <div class="container">
            <div class="menu-mobile-partes">
                <div class="menu-mobile-logo">
                    <a href="#"> <img src="/images/logotipo.png" alt=""> </a>
                </div>
                <div class="menu-mobile-button">
                    <div class="menu-open"><i class="fa-solid fa-bars"></i></div>
                </div>
            </div>
        </div>
    </div>


    <div class="mobile-menu-body">
        <div class="menu-close"><i class="fa-solid fa-close"></i></div>
        <div class="menu-mobile-content">

        </div>
        <div class="menu-mobile-content-bottom">

        </div>
    </div>

</header>