<header id="header-desktop" class="header-desktop">

    <div id="top-bar" class="top-bar">
        <div class="container">
            <div class="top-bar-partes">
                <div class="top-bar-partes-esquerda menu-contactos-links">
                    <nav class="menu-contactos-links">
                        <a href="tel:+244925438525" data-bs-toggle="tooltip" data-bs-placement="bottom"
                            title="Telefonar para a empresa"><i class="fa-solid fa-phone"></i> +244 999 999 999 </a>
                        <a href="mailto:contacto@empresa.com" data-bs-toggle="tooltip" data-bs-placement="bottom"
                            title="Enviar email para a empresa"> <i class="fa-solid fa-envelope"></i>
                            contacto@ empresa.com </a>
                        <a href="https://maps.app.goo.gl/tUuPBS48JMA7De7y9" data-bs-toggle="tooltip"
                            data-bs-placement="bottom" title="Ver localização no mapa"><i
                                class="fa-solid fa-location-dot"></i> Luanda - Talatona</a>
                    </nav>
                </div>
                <div class="top-bar-partes-direita menu-social-links">
                    <nav class="menu-social-links">
                        <a href="https://wa.me/244925438525" class="icone-whatsapp" data-bs-toggle="tooltip"
                            data-bs-placement="bottom" title="Enviar Mensagem no Whatsapp"><i
                                class="fa-brands fa-square-whatsapp"></i></a>
                        <a href="#" class="icone-linkedin" data-bs-toggle="tooltip" data-bs-placement="bottom"
                            title="Perfil no Linkedin"><i class="fa-brands fa-linkedin"></i></a>
                        <a href="#" class="icone-youtube" data-bs-toggle="tooltip" data-bs-placement="bottom"
                            title="Canal no Youtube"><i class="fa-brands fa-youtube"></i></a>
                        <a href="#" class="icone-facebook" data-bs-toggle="tooltip" data-bs-placement="bottom"
                            title="Perfil no Facebook"><i class="fa-brands fa-facebook"></i></a>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <div class="menu">
        <div class="container">
            <div class="menu-partes">
                <div class="menu-partes-esquerda menu-logo">
                    <a href="#"> <img src="/images/logotipo.png" alt=""> </a>
                </div>
                <div class="menu-partes-direita menu-links">
                    <nav class="menu-links">
                        <a href="/">Início</a>

                        <a href="/contactos">Contactos</a>
                        <a href="/recrutamento">Recrutamento</a>
                    </nav>
                </div>
            </div>
        </div>
    </div>

</header>
<header id="header-mobile" class="header-mobile">

    <div class="menu-mobile">
        <div class="container">
            <div class="menu-mobile-partes">
                <div class="menu-mobile-logo">
                    <a href="#"> <img src="/images/logotipo.png" alt=""> </a>
                </div>
                <div class="menu-mobile-button">
                    <div class="menu-open"><i class="fa-solid fa-bars"></i></div>
                </div>
            </div>
        </div>
    </div>


    <div class="mobile-menu-body">
        <div class="menu-close"><i class="fa-solid fa-close"></i></div>
        <div class="menu-mobile-content">

        </div>
        <div class="menu-mobile-content-bottom">

        </div>
    </div>

</header>