<!DOCTYPE html>
<html lang="pt">
<head>
    <%- include("include/head") %>
    <title>Página não encontrada</title>
</head>
<body>
    <%- include("include/header") %>
    <section class="section text-center section-error min-height-100">
        <section class="section-page-title m-b-20">
            <div class="container">
                <h1>404</h1>
            </div>
        </section>
        <p class="lead m-b-40">A página solicitada não foi encontrada</p>
        <a class="btn-border-10" href="/">Valtar para o início</a>

    </section>

    <%- include("include/footer") %>
</body>
</html>