<!DOCTYPE html>
<html lang="pt">

<head>
    <%- include("include/head4") %>
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.css">
    <title>Início</title>

</head>

<body>
    <%- include("include/header3") %>
    <div class="hero-section-bg">
        <?xml version="1.0" encoding="UTF-8"?><svg id="hero-bg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1927.42 1086.99"><path d="M1922.5,815.94h-4.71c-85.26-115.29-300.38-258.82-713.09-258.82-113.84,0-218.98-31.8-321.36-97.21-90.34-57.71-167.35-133.55-241.85-206.95C512.5,125.87,390.66,5.83,222.73,5.83,138.86,5.83,59.67,24.57,2.5,42.86v-3.61C59.94,21.05,139.01,2.5,222.73,2.5c169.79,0,292.25,120.64,421.89,248.3,151.18,148.96,307.53,302.96,560.07,302.96,416.46,0,632.83,145.79,717.8,262.18Z" style="fill:none; isolation:isolate; stroke:#fff; stroke-miterlimit:10; stroke-width:5px;"/><path d="M1756.29,1082.47h-6.71c-119.98-73.02-303.67-132.38-569.02-132.38-113.89,0-218.98-31.77-321.38-97.18-90.3-57.71-167.31-133.58-241.83-206.95-128.99-127.08-250.88-247.09-418.76-247.09-72.63,0-141.75,14.08-196.1,29.71v-3.55c54.54-15.57,123.55-29.49,196.1-29.49,169.79,0,292.25,120.58,421.89,248.3,151.18,148.93,307.53,302.93,560.07,302.93,269.49,0,455.17,61.07,575.72,135.74v-.03Z" style="fill:none; isolation:isolate; stroke:#fff; stroke-miterlimit:10; stroke-width:5px;"/></svg>
    </div>
    <section class="hero-section d-flex-center">
        <div class="container">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8 d-flex-center">
                    <div class="row rellax" data-rellax-speed="-3">

                        <div class="col-12 text-center">
                            <h1 class="wow fadeInUp" data-wow-duration="1s" data-wow-delay=".1s"> Transformamos a sua
                                ideia em soluções que aceleram o seu negócio </h1>
                        </div>

                        <div class="col-12 m-tb-100 text-center">
                            <a href="/contactos" class="wow fadeInUp" data-wow-duration="2s" data-wow-delay=".3s">Peça
                                Uma Consulta Gratis</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
    </section>

    <section class="section section-servicos min-height-100" id="hero-wp">
        <div class="container">
            <div class="section-title text-center">
                <h2>Nossos Serviços</h2>
            </div>

            <div class="row">

                <div class="col-12 col-md-4  wow fadeInUp section-servicos-item" data-wow-duration="1s"
                    data-wow-delay=".2s">
                    <div class="card">
                        <a href="#desenvolvimento">
                            <div class="card-body text-start">
                                <div class="row">
                                    <div class="col-md-3 card-icon card-icon-desenvolvimento">
                                        <img src="/images/icone-desenvolvimento.svg" alt="">
                                    </div>
                                    <div class="col-md-9">
                                        <h5 class="card-title">Desenvolvimento de software</h5>
                                    </div>
                                </div>
                              
                                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem ea facilis
                                    magni similique eum velit accusamus ex, atque numquam, quaerat porro praesentium sint
                                    sunt? Incidunt eius amet autem nulla repellat.</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-12 col-md-4  wow fadeInUp section-servicos-item" data-wow-duration="1s"
                    data-wow-delay=".5s">
                    <div class="card">
                        <a href="#consultoria">
                            <div class="card-body text-start">
                                <div class="row">
                                 <div class="col-md-3 card-icon card-icon-consultoria">
                                     <img src="/images/icone-consultoria.svg" alt="">
                                 </div>
                                 <div class="col-md-9 d-flex-center">
                                     <h5 class="card-title">Consultoria em TI </h5>
                                 </div>
                                </div>
                                 <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem ea facilis
                                     magni similique eum velit accusamus ex, atque numquam, quaerat porro praesentium sint
                                     sunt? Incidunt eius amet autem nulla repellat.</p>
                             </div>
                        </a>
                    </div>
                </div>
                <div class="col-12 col-md-4  wow fadeInUp section-servicos-item" data-wow-duration="1s"
                    data-wow-delay=".7s">
                    <div class="card">
                        <a href="#formacao">
                            <div class="card-body text-start">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="col-md-3 card-icon card-icon-formacao">
                                            <img src="/images/icone-formacao.svg" alt="">
                                        </div>
                                    </div>
                                    <div class="col-md-9 d-flex-center">
                                        <h5 class="card-title">Formação </h5>
                                    </div>
                                </div>
    
                                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem ea facilis
                                    magni similique eum velit accusamus ex, atque numquam, quaerat porro praesentium sint
                                    sunt? Incidunt eius amet autem nulla repellat.</p>
                            </div>
                        </a>
                    </div>
                </div>


            </div>
        </div>
    </section>

    <section class="section section-parceiros">
        <div class="container">
            <div class="section-title text-center">
                <h2>Parceiros</h2>
            </div>

            <div class="row">
                <div class=" col-12 col-md-1 col-lg-2"></div>
                <div class=" col-12 col-md-10 col-lg-8">
                    <div class="brand-carousel owl-carousel">
                        <div class="box text-center">
                            <img src="/images/parceiros/parceiro1.png" alt="">
                            <p>Empresa x</p>
                        </div>
                        <div class="box text-center">
                            <img src="/images/parceiros/parceiro2.png" alt="">
                            <p>Empresa x</p>
                        </div>
                        <div class="box text-center">
                            <img src="/images/parceiros/parceiro3.png" alt="">
                            <p>Empresa x</p>
                        </div>

                    </div>
                </div>
                <div class=" col-12 col-md-1 col-lg-2"></div>
            </div>
        </div>
    </section>

    <section class="section section-sobre">
        <div class="container">
            <div class="row d-flex-center">
                <div class="col-md-6 wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".2s">
                    <div class="section-sobre-texto">
                        <div class="section-title text-end">
                            <h2>Descubra a VILLASOFT</h2>
                        </div>
                        <p>
                            Na vanguarda da inovação tecnológica, a Villasoft surge para atender o mercado no cenário em
                            consultoria de TI e outsourcing em tecnologia. Com uma visão comprometida com a excelência e
                            impulsionada pela busca incessante por soluções eficazes, nossa empresa é um farol de
                            confiabilidade para organizações que buscam aprimorar sua presença digital e otimizar
                            operações.
                        </p>
                        <p>
                            Reconhecemos que cada empresa é única, e, portanto, nossas soluções são meticulosamente
                            adaptadas para atender às necessidades específicas de cada cliente. Seja você uma startup
                            ambiciosa, uma empresa de médio porte ou projectos outros tipos de organizações, a Villasoft
                            é
                            seu parceiro confiável na jornada tecnológica.
                        </p>
                    </div>
                </div>

            </div>


        </div>
    </section>

    <section class="section section-timeline">
        <div class="container">
            <div class="timeline">
                <div class="timeline-container right  ">
                    <div class="content wow fadeInRight" data-wow-duration="1s" data-wow-delay=".1s">
                        <h4>O que é a VILLASOFT</h4>
                        <p>Somo uma empresa angolana que oferece soluções tecnológicas para a sua empresa. Trabalhamos
                            em Luanda e desejamos chegar até si, onde quer que esteja serviços de TI e OUTSORCING de
                            pessoal.</p>
                    </div>
                </div>
                <div class="timeline-container left">
                    <div class="content wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".1s">
                        <h4>Missão</h4>
                        <p> Desenvolver soluções de alta qualidade. </p>
                    </div>
                </div>
                <div class="timeline-container right ">
                    <div class="content wow fadeInRight" data-wow-duration="1s" data-wow-delay=".1s">
                        <h4>Visão</h4>
                        <p>Apoiar pequenas e médias empresas angolanas no processo de transformação digital e
                            desenvolvimento do seu negócio.</p>
                    </div>
                </div>
                <div class="timeline-container left" id="desenvolvimento">
                    <div class="content wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".1s">
                        <h4>Valores</h4>
                        <p>Profissionalismo e simplicidade.</p>
                    </div>
                </div>
                <div class="timeline-container right " id="consultoria">
                    <div class="content wow fadeInRight" data-wow-duration="1s" data-wow-delay=".1s">
                        <h4>Desenvolvimento de software</h4>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maiores nihil dolor ab reiciendis
                            tenetur, fugit doloribus exercitationem, quae consectetur iure voluptas. Quod at aspernatur,
                            labore quos quia quo temporibus officia..</p>
                    </div>
                </div>
                <div class="timeline-container left "  id="formacao">
                    <div class="content wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".1s">
                        <h4>Consultoria em TI</h4>
                        <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illum quia, maxime odio molestiae
                            quisquam perspiciatis totam sunt at temporibus veniam culpa. Earum, beatae eos eaque atque
                            corporis assumenda. Dicta, repudiandae. .</p>
                    </div>
                </div>
                <div class="timeline-container right" >
                    <div class="content wow fadeInRight" data-wow-duration="1s" data-wow-delay=".1s">
                        <h4>Formação</h4>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maiores nihil dolor ab reiciendis
                            tenetur, fugit doloribus exercitationem, quae consectetur iure voluptas. Quod at aspernatur,
                            labore quos quia quo temporibus officia..</p>
                    </div>
                </div>

                <div class="timeline-container Left ">
                    <div class="content wow fadeInLeft text-end" data-wow-duration="1s" data-wow-delay=".1s">
                        <h4>CEO</h4>
                        <p class="lead">Sílvia António</p>
                        <img src="/images/pessoa.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="section-perguntas-bg ">
        <?xml version="1.0" encoding="UTF-8"?><svg id="Camada_2" xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 779.25 884.94">
        <g id="Grafo">
            <g id="limites">
                <circle cx="726.88" cy="856.24" r="5" style="fill:#ddd;" />
                <circle cx="601.11" cy="879.94" r="5" style="fill:#ddd;" />
                <circle cx="563.74" cy="879.94" r="5" style="fill:#ddd;" />
                <circle cx="530.93" cy="868.54" r="5" style="fill:#ddd;" />
                <circle cx="414.04" cy="836.65" r="5" style="fill:#ddd;" />
                <circle cx="454.25" cy="866.04" r="5" style="fill:#ddd;" />
                <circle cx="156.35" cy="831.65" r="5" style="fill:#ddd;" />
                <circle cx="81.84" cy="802.02" r="5" style="fill:#ddd;" />
                <circle cx="49.95" cy="581.68" r="5" style="fill:#ddd;" />
                <circle cx="130.61" cy="473.46" r="5" style="fill:#ddd;" />
                <circle cx="111.47" cy="375.25" r="5" style="fill:#ddd;" />
                <circle cx="80.47" cy="304.16" r="5" style="fill:#ddd;" />
                <circle cx="87.54" cy="221.46" r="5" style="fill:#ddd;" />
                <circle cx="108.97" cy="271.59" r="5" style="fill:#ddd;" />
                <circle cx="769.25" cy="426.97" r="5" style="fill:#ddd;" />
                <circle cx="774.25" cy="455.9" r="5" style="fill:#ddd;" />
                <circle cx="769.25" cy="473.46" r="5" style="fill:#ddd;" />
                <circle cx="769.25" cy="556.17" r="5" style="fill:#ddd;" />
                <circle cx="644.83" cy="556.17" r="5" style="fill:#ddd;" />
                <circle cx="307.25" cy="100.58" r="5" style="fill:#ddd;" />
                <circle cx="369.61" cy="243.33" r="5" style="fill:#ddd;" />
                <circle cx="481.49" cy="236.04" r="5" style="fill:#ddd;" />
                <circle cx="495.84" cy="174.52" r="5" style="fill:#ddd;" />
                <circle cx="561.01" cy="174.52" r="5" style="fill:#ddd;" />
                <circle cx="561.01" cy="192.75" r="5" style="fill:#ddd;" />
                <circle cx="634.83" cy="192.75" r="5" style="fill:#ddd;" />
                <circle cx="639.83" cy="209.15" r="5" style="fill:#ddd;" />
                <circle cx="632.33" cy="236.04" r="5" style="fill:#ddd;" />
                <circle cx="642.33" cy="261.1" r="5" style="fill:#ddd;" />
                <circle cx="634.83" cy="327.18" r="5" style="fill:#ddd;" />
                <circle cx="656.25" cy="360.44" r="5" style="fill:#ddd;" />
                <circle cx="666.05" cy="391.89" r="5" style="fill:#ddd;" />
                <circle cx="43.22" cy="115.62" r="5" style="fill:#ddd;" />
                <circle cx="87.54" cy="98.19" r="5" style="fill:#ddd;" />
                <circle cx="663.55" cy="445.9" r="5" style="fill:#ddd;" />
                <circle cx="637.56" cy="761.91" r="5" style="fill:#ddd;" />
                <circle cx="30.72" cy="91.13" r="5" style="fill:#ddd;" />
                <circle cx="54.05" cy="88.63" r="5" style="fill:#ddd;" />
                <circle cx="54.05" cy="49.66" r="5" style="fill:#ddd;" />
                <circle cx="90.04" cy="20.95" r="5" style="fill:#ddd;" />
                <circle cx="67.03" cy="5" r="5" style="fill:#ddd;" />
                <circle cx="21.24" cy="44.66" r="5" style="fill:#ddd;" />
            </g>
            <g id="capitais">
                <circle cx="164.78" cy="125.62" r="10" style="fill:#ddd;" />
                <circle cx="212.74" cy="209.15" r="10" style="fill:#ddd;" />
                <circle cx="128.11" cy="269.09" r="10" style="fill:#ddd;" />
                <circle cx="97.54" cy="284.09" r="10" style="fill:#ddd;" />
                <circle cx="202.74" cy="317.18" r="10" style="fill:#ddd;" />
                <circle cx="294.75" cy="332.71" r="10" style="fill:#ddd;" />
                <circle cx="133.11" cy="436.43" r="10" style="fill:#ddd;" />
                <circle cx="107.54" cy="520.51" r="10" style="fill:#ddd;" />
                <circle cx="249.65" cy="536.23" r="10" style="fill:#ddd;" />
                <circle cx="325.53" cy="510.51" r="10" style="fill:#ddd;" />
                <circle cx="110.89" cy="671.57" r="10" style="fill:#ddd;" />
                <circle cx="25.45" cy="691.57" r="10" style="fill:#ddd;" />
                <circle cx="246.23" cy="812.02" r="10" style="fill:#ddd;" />
                <circle cx="372.01" cy="661.57" r="10" style="fill:#ddd;" />
                <circle cx="511.45" cy="480.96" r="10" style="fill:#ddd;" />
                <circle cx="546.99" cy="342.71" r="10" style="fill:#ddd;" />
                <circle cx="574.16" cy="205.25" r="10" style="fill:#ddd;" />
                <circle cx="33.22" cy="76.2" r="10" style="fill:#ddd;" />
            </g>
            <g id="linhas-limite">
                <polygon points="54.05 88.63 54.05 49.66 90.88 20.95 67.03 5 21.24 44.66 30.72 91.13 54.05 88.63"
                    style="fill:none; stroke:#ddd; stroke-miterlimit:10;" />
                <polygon
                    points="43.22 115.62 87.54 221.46 108.97 271.59 80.47 304.16 111.47 375.25 130.61 473.46 49.95 581.68 .5 730.7 .5 820.24 81.84 802.02 156.35 831.65 414.04 836.65 454.25 866.04 530.93 868.54 563.74 879.94 601.11 879.94 726.88 856.24 637.56 761.91 644.83 556.17 769.25 556.17 769.25 473.46 774.25 455.9 769.25 426.97 663.55 445.9 666.05 391.89 656.25 360.44 634.83 327.18 642.33 261.1 631.41 236.04 639.83 209.15 634.83 192.75 561.01 192.75 561.01 174.52 495.84 174.52 481.49 236.04 369.61 243.33 307.25 100.58 87.54 98.19 43.22 115.62"
                    style="fill:none; stroke:#ddd; stroke-miterlimit:10;" />
                <line x1="164.25" y1="126.82" x2="307.25" y2="100.58"
                    style="fill:none; stroke:#ddd; stroke-miterlimit:10;" />
                <line x1="211.72" y1="209.87" x2="307.25" y2="100.58"
                    style="fill:none; stroke:#ddd; stroke-miterlimit:10;" />
                <line x1="295.61" y1="337.71" x2="369.61" y2="243.33"
                    style="fill:none; stroke:#ddd; stroke-miterlimit:10;" />
                <line x1="481.49" y1="236.04" x2="546.99" y2="342.71"
                    style="fill:none; stroke:#ddd; stroke-miterlimit:10;" />
                <line x1="634.83" y1="327.18" x2="546.99" y2="342.71"
                    style="fill:none; stroke:#ddd; stroke-miterlimit:10;" />
                <line x1="511.45" y1="480.96" x2="663.55" y2="445.9"
                    style="fill:none; stroke:#ddd; stroke-miterlimit:10;" />
                <line x1="546.99" y1="345.18" x2="663.55" y2="446.43"
                    style="fill:none; stroke:#ddd; stroke-miterlimit:10;" />
                <line x1="644.83" y1="556.17" x2="511.45" y2="480.96"
                    style="fill:none; stroke:#ddd; stroke-miterlimit:10;" />
                <line x1="769.25" y1="556.17" x2="511.45" y2="480.96"
                    style="fill:none; stroke:#ddd; stroke-miterlimit:10;" />
                <line x1="769.25" y1="473.47" x2="514.24" y2="482.53"
                    style="fill:none; stroke:#ddd; stroke-miterlimit:10;" />
                <line x1="663.55" y1="446.43" x2="769.25" y2="556.17"
                    style="fill:none; stroke:#ddd; stroke-miterlimit:10;" />
                <line x1="644.83" y1="556.17" x2="769.25" y2="473.47"
                    style="fill:none; stroke:#ddd; stroke-miterlimit:10;" />
                <line x1="372.01" y1="661.57" x2="637.56" y2="761.91"
                    style="fill:none; stroke:#ddd; stroke-miterlimit:10;" />
                <line x1="530.93" y1="868.54" x2="372.01" y2="661.57"
                    style="fill:none; stroke:#ddd; stroke-miterlimit:10;" />
                <line x1="414.04" y1="836.65" x2="372.01" y2="661.57"
                    style="fill:none; stroke:#ddd; stroke-miterlimit:10;" />
                <line x1="644.83" y1="556.17" x2="372.01" y2="661.57"
                    style="fill:none; stroke:#ddd; stroke-miterlimit:10;" />
                <line x1="511.45" y1="480.96" x2="637.56" y2="761.91"
                    style="fill:none; stroke:#ddd; stroke-miterlimit:10;" />
                <line x1="563.74" y1="879.94" x2="637.56" y2="761.91"
                    style="fill:none; stroke:#ddd; stroke-miterlimit:10;" />
                <line x1="600.65" y1="879.94" x2="637.56" y2="761.91"
                    style="fill:none; stroke:#ddd; stroke-miterlimit:10;" />
                <line x1="454.25" y1="866.04" x2="637.56" y2="761.91"
                    style="fill:none; stroke:#ddd; stroke-miterlimit:10;" />
                <line x1="546.99" y1="342.71" x2="631.41" y2="236.04"
                    style="fill:none; stroke:#ddd; stroke-miterlimit:10;" />
                <line x1="414.04" y1="836.65" x2="246.23" y2="812.02"
                    style="fill:none; stroke:#ddd; stroke-miterlimit:10;" />
                <line x1="156.35" y1="831.65" x2="246.23" y2="812.02"
                    style="fill:none; stroke:#ddd; stroke-miterlimit:10;" />
                <line x1="25.45" y1="691.57" x2=".5" y2="730.7" style="fill:none; stroke:#ddd; stroke-miterlimit:10;" />
                <line x1="81.84" y1="802.02" x2="25.45" y2="691.57"
                    style="fill:none; stroke:#ddd; stroke-miterlimit:10;" />
                <line x1=".5" y1="820.24" x2="25.45" y2="691.57"
                    style="fill:none; stroke:#ddd; stroke-miterlimit:10;" />
                <line x1="49.95" y1="581.68" x2="110.89" y2="671.57"
                    style="fill:none; stroke:#ddd; stroke-miterlimit:10;" />
                <line x1="107.54" y1="520.51" x2="49.95" y2="581.68"
                    style="fill:none; stroke:#ddd; stroke-miterlimit:10;" />
            </g>
            <g id="linhas-capital">
                <line x1="33.22" y1="76.2" x2="164.78" y2="125.62"
                    style="fill:none; stroke:#ddd; stroke-miterlimit:10;" />
                <line x1="128.11" y1="269.09" x2="33.22" y2="76.2"
                    style="fill:none; stroke:#ddd; stroke-miterlimit:10;" />
                <line x1="212.74" y1="209.15" x2="164.25" y2="126.82"
                    style="fill:none; stroke:#ddd; stroke-miterlimit:10;" />
                <line x1="128.11" y1="269.09" x2="164.25" y2="126.82"
                    style="fill:none; stroke:#ddd; stroke-miterlimit:10;" />
                <line x1="97.54" y1="285.71" x2="128.11" y2="269.09"
                    style="fill:none; stroke:#ddd; stroke-miterlimit:10;" />
                <line x1="212.74" y1="209.15" x2="202.74" y2="317.18"
                    style="fill:none; stroke:#ddd; stroke-miterlimit:10;" />
                <line x1="128.11" y1="269.09" x2="202.74" y2="317.18"
                    style="fill:none; stroke:#ddd; stroke-miterlimit:10;" />
                <line x1="212.74" y1="209.15" x2="125.96" y2="270.25"
                    style="fill:none; stroke:#ddd; stroke-miterlimit:10;" />
                <line x1="202.74" y1="317.18" x2="133.11" y2="436.43"
                    style="fill:none; stroke:#ddd; stroke-miterlimit:10;" />
                <line x1="97.54" y1="285.71" x2="133.11" y2="436.43"
                    style="fill:none; stroke:#ddd; stroke-miterlimit:10;" />
                <line x1="127.62" y1="269.09" x2="133.11" y2="436.43"
                    style="fill:none; stroke:#ddd; stroke-miterlimit:10;" />
                <line x1="107.54" y1="520.51" x2="133.11" y2="436.43"
                    style="fill:none; stroke:#ddd; stroke-miterlimit:10;" />
                <line x1="249.65" y1="536.23" x2="133.11" y2="436.43"
                    style="fill:none; stroke:#ddd; stroke-miterlimit:10;" />
                <line x1="202.74" y1="317.18" x2="294.75" y2="332.71"
                    style="fill:none; stroke:#ddd; stroke-miterlimit:10;" />
                <line x1="325.53" y1="510.51" x2="294.75" y2="332.71"
                    style="fill:none; stroke:#ddd; stroke-miterlimit:10;" />
                <line x1="249.65" y1="536.23" x2="294.75" y2="332.71"
                    style="fill:none; stroke:#ddd; stroke-miterlimit:10;" />
                <line x1="325.53" y1="510.51" x2="249.65" y2="536.23"
                    style="fill:none; stroke:#ddd; stroke-miterlimit:10;" />
                <line x1="133.11" y1="436.43" x2="294.44" y2="334.12"
                    style="fill:none; stroke:#ddd; stroke-miterlimit:10;" />
                <line x1="202.74" y1="317.18" x2="249.65" y2="536.23"
                    style="fill:none; stroke:#ddd; stroke-miterlimit:10;" />
                <line x1="133.11" y1="436.43" x2="325.53" y2="510.51"
                    style="fill:none; stroke:#ddd; stroke-miterlimit:10;" />
                <line x1="202.74" y1="317.18" x2="325.53" y2="510.51"
                    style="fill:none; stroke:#ddd; stroke-miterlimit:10;" />
                <line x1="33.22" y1="76.2" x2="211.72" y2="209.87"
                    style="fill:none; stroke:#ddd; stroke-miterlimit:10;" />
                <line x1="107.54" y1="520.51" x2="249.65" y2="536.23"
                    style="fill:none; stroke:#ddd; stroke-miterlimit:10;" />
                <line x1="25.45" y1="691.57" x2="107.54" y2="520.51"
                    style="fill:none; stroke:#ddd; stroke-miterlimit:10;" />
                <line x1="110.89" y1="671.57" x2="107.54" y2="520.51"
                    style="fill:none; stroke:#ddd; stroke-miterlimit:10;" />
                <line x1="25.45" y1="691.57" x2="110.89" y2="671.57"
                    style="fill:none; stroke:#ddd; stroke-miterlimit:10;" />
                <line x1="249.65" y1="536.23" x2="110.89" y2="671.57"
                    style="fill:none; stroke:#ddd; stroke-miterlimit:10;" />
                <line x1="574.16" y1="205.25" x2="546.99" y2="342.71"
                    style="fill:none; stroke:#ddd; stroke-miterlimit:10;" />
                <line x1="295.11" y1="332.71" x2="574.16" y2="205.25"
                    style="fill:none; stroke:#ddd; stroke-miterlimit:10;" />
                <line x1="546.99" y1="342.71" x2="295.11" y2="332.71"
                    style="fill:none; stroke:#ddd; stroke-miterlimit:10;" />
                <line x1="511.45" y1="480.96" x2="325.53" y2="510.51"
                    style="fill:none; stroke:#ddd; stroke-miterlimit:10;" />
                <line x1="294.75" y1="332.71" x2="511.45" y2="480.96"
                    style="fill:none; stroke:#ddd; stroke-miterlimit:10;" />
                <line x1="325.53" y1="510.51" x2="546.99" y2="342.71"
                    style="fill:none; stroke:#ddd; stroke-miterlimit:10;" />
                <line x1="511.45" y1="480.96" x2="544.61" y2="344.51"
                    style="fill:none; stroke:#ddd; stroke-miterlimit:10;" />
                <line x1="574.16" y1="205.25" x2="325.53" y2="510.51"
                    style="fill:none; stroke:#ddd; stroke-miterlimit:10;" />
                <line x1="295.11" y1="332.71" x2="211.72" y2="209.87"
                    style="fill:none; stroke:#ddd; stroke-miterlimit:10;" />
                <line x1="202.74" y1="317.18" x2="574.16" y2="205.25"
                    style="fill:none; stroke:#ddd; stroke-miterlimit:10;" />
                <line x1="211.72" y1="209.87" x2="546.99" y2="342.71"
                    style="fill:none; stroke:#ddd; stroke-miterlimit:10;" />
                <line x1="25.45" y1="691.57" x2="249.65" y2="536.23"
                    style="fill:none; stroke:#ddd; stroke-miterlimit:10;" />
                <line x1="511.45" y1="480.96" x2="372.01" y2="661.57"
                    style="fill:none; stroke:#ddd; stroke-miterlimit:10;" />
                <line x1="246.23" y1="812.02" x2="372.01" y2="661.57"
                    style="fill:none; stroke:#ddd; stroke-miterlimit:10;" />
                <line x1="325.53" y1="510.51" x2="372.01" y2="661.57"
                    style="fill:none; stroke:#ddd; stroke-miterlimit:10;" />
                <line x1="110.89" y1="671.57" x2="246.23" y2="812.02"
                    style="fill:none; stroke:#ddd; stroke-miterlimit:10;" />
                <line x1="249.65" y1="536.23" x2="246.23" y2="812.02"
                    style="fill:none; stroke:#ddd; stroke-miterlimit:10;" />
                <line x1="325.53" y1="510.51" x2="246.23" y2="812.02"
                    style="fill:none; stroke:#ddd; stroke-miterlimit:10;" />
                <line x1="25.45" y1="691.57" x2="246.23" y2="812.02"
                    style="fill:none; stroke:#ddd; stroke-miterlimit:10;" />
                <line x1="110.89" y1="671.57" x2="372.01" y2="661.57"
                    style="fill:none; stroke:#ddd; stroke-miterlimit:10;" />
                <line x1="249.65" y1="536.23" x2="372.01" y2="661.57"
                    style="fill:none; stroke:#ddd; stroke-miterlimit:10;" />
                <line x1="67.03" y1="5" x2="54.05" y2="49.66" style="fill:none; stroke:#ddd; stroke-miterlimit:10;" />
                <line x1="90.88" y1="20.95" x2="21.24" y2="44.66"
                    style="fill:none; stroke:#ddd; stroke-miterlimit:10;" />
                <line x1="54.05" y1="49.66" x2="33.22" y2="76.2"
                    style="fill:none; stroke:#ddd; stroke-miterlimit:10;" />
            </g>
        </g>
    </svg>
    </div>
    <section id="perguntas-wp" class="section section-perguntas">
        <div class="container">
            <div class="section-title text-end">
                <h2>Pretende</h2>
            </div>
            <div class="row text-center rellax" data-rellax-speed="3" data-rellax-percentage="0.5"
                data-rellax-xs-speed="0" data-rellax-mobile-speed="0" data-rellax-tablet-speed="4"
                data-rellax-desktop-speed="3">
                <div class="col-2 col-sm-6"></div>
                <div class="col-5 col-sm-3">
                    <div class="section-perguntas-card azul wow fadeInUp" data-wow-duration="1s" data-wow-delay=".1s">
                        <p> Desenvolver um software?</p>
                    </div>
                </div>
                <div class="col-5 col-sm-3">
                    <div class="section-perguntas-card cinza wow fadeInUp" data-wow-duration="1s" data-wow-delay=".2s">
                        <p> Tirar mais proveito da tecnologia que já usa?</p>
                    </div>
                </div>

                <div class="col-sm-5 d-flex-center2">
                    <a class="btn-border-10" href="/contactos">Entre em contacto</a>
                </div>

                <div class="col-5 col-sm-3">
                    <div class="section-perguntas-card cinza wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">
                        <p> Fazer uma avaliação das necessidades de TI da sua empresa?
                    </div>
                </div>
                <div class=" col-5 col-sm-3">
                    <div class="section-perguntas-card azul wow fadeInUp" data-wow-duration="1s" data-wow-delay=".4s">
                        <p> Capacitar a sua equipa em alguma ferramenta de TI?</p>
                    </div>
                </div>

                <div class="col-sm-1"></div>

                <div class="col-5 col-sm-6"></div>
                <div class="col-5 col-sm-3">
                    <div class="section-perguntas-card azul wow fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">
                        <p> Aumentar a sua equipa com técnicos treinados numa determinada tecnologia?</p>
                    </div>
                </div>
                <div class="col-12 col-xs-2 col-sm-3">

                </div>

            </div>
        </div>
    </section>



    <%- include("include/footer") %>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/jquery.waypoints.min.js"></script>
    <script src="/js/anime.min.js"></script>
    <script>
        let controleBgPerguntas = 0;
        var waypoints = $('#perguntas-wp').waypoint(function (direction) {
           if(controleBgPerguntas == 0){
            anime({
                targets: '#Camada_2 polygon',
                strokeDashoffset: [anime.setDashoffset, 0],
                easing: 'easeInOutSine',
                duration: 1000 * 5,
                delay: function (el, i) {
                    return i * 500
                },
                direction: 'alternate',
                loop: false
            });
            anime({
                targets: '#Camada_2 line',
                strokeDashoffset: [anime.setDashoffset, 0],
                easing: 'easeInOutSine',
                duration: 500,
                delay: function (el, i) {
                    return i * 250
                },
                direction: 'alternate',
                loop: false
            });
            controleBgPerguntas = 1;
           }
        }, {
            offset: '20%'
        })
        $('.brand-carousel').owlCarousel({
            loop: true,
            margin: 50,
            autoplay: true,
            fluidSpeed: 1000,
            responsive: {
                0: {
                    items: 1
                },
                768: {
                    items: 2
                },
                992: {
                    items: 3
                }
            }
        })
        anime({
            targets: '#logotipo path',
            strokeDashoffset: [anime.setDashoffset, 0],
            easing: 'easeInOutSine',
            duration: 1000 ,
            delay: function (el, i) {
                return i * 250
            },
            direction: 'alternate',
            loop: false,
            
        });
        anime({
            targets: '#hero-bg path',
            strokeDashoffset: [anime.setDashoffset, 0],
            easing: 'easeInOutSine',
            duration: 1000 * 15,
            delay: function (el, i) {
                return i * 500
            },
            direction: 'alternate',
            loop: true,
            
        });
    </script>
</body>

</html>