<!DOCTYPE html>
<html lang="pt">

<head>
    <%- include("include/head") %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.css">
    <title>Início</title>
</head>

<body>
    <%- include("include/header") %>
    <section class="hero-section d-flex-center">
        <div class="container">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8 d-flex-center">
                    <div class="row rellax" data-rellax-speed="-3">

                        <div class="col-12 text-center">
                            <h1> Transformamos a sua ideia em soluções que aceleram o seu negócio </h1>
                        </div>

                        <div class="col-12 m-tb-100 text-center">
                            <a href="/contactos">Peça Uma Consulta Gratis</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
    </section>

    <section class="section section-servicos">
        <div class="container">
            <div class="section-title text-center">
                <h2>Nossos Serviços</h2>
            </div>

            <div class="row">
                <div class=" col-md-12 col-lg-1"></div>
                <div class=" col-md-12 col-lg-10">
                    <div class="row">
                        
                        <div class="col-12 col-md-4  wow fadeInUp section-servicos-item" data-wow-duration="1s" data-wow-delay=".1s">
                            <div class="card">
                                <div class="card-body text-center">
                                    <img src="/images/icone-desenvolvimento.svg" alt="">
                                    <h5 class="card-title">Desenvolvimento de software</h5>
                                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem ea facilis
                                        magni similique eum velit accusamus ex, atque numquam, quaerat porro praesentium sint
                                        sunt? Incidunt eius amet autem nulla repellat.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-4  wow fadeInUp section-servicos-item" data-wow-duration="1s" data-wow-delay=".3s">
                            <div class="card">
                                <div class="card-body text-center">
                                    <img src="/images/icone-consultoria.svg" alt="">
        
                                    <h5 class="card-title">Consultoria em TI </h5><br>
                                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem ea facilis
                                        magni similique eum velit accusamus ex, atque numquam, quaerat porro praesentium sint
                                        sunt? Incidunt eius amet autem nulla repellat.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-4  wow fadeInUp section-servicos-item" data-wow-duration="1s" data-wow-delay=".3s">
                            <div class="card">
                                <div class="card-body text-center">
                                    <img src="/images/icone-formacao.svg" alt="">
        
                                    <h5 class="card-title">Formação </h5><br>
                                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem ea facilis
                                        magni similique eum velit accusamus ex, atque numquam, quaerat porro praesentium sint
                                        sunt? Incidunt eius amet autem nulla repellat.</p>
                                </div>
                            </div>
                        </div>
                        

                    </div>
                </div>
                <div class=" col-md-12 col-lg-1"></div>
                </div>
            </div>
        </div>
    </section>

    <section class="section section-parceiros">
       <div class="container">
        <div class="section-title text-center">
            <h2>Parceiros</h2>
        </div>

        <div class="row">
            <div class=" col-12 col-md-1 col-lg-2"></div>
            <div class=" col-12 col-md-10 col-lg-8">
                <div class="brand-carousel owl-carousel">
                    <div class="box text-center">
                        <img src="/images/parceiros/parceiro1.png" alt="">
                        <h3>Emapresa x</h3>
                    </div>
                    <div class="box text-center">
                        <img src="/images/parceiros/parceiro2.png" alt="">
                        <h3>Emapresa y</h3>
                    </div>
                    <div class="box text-center">
                        <img src="/images/parceiros/parceiro3.png" alt="">
                        <h3>Emapresa z</h3>
                    </div>
                   
                </div>
            </div>
            <div class=" col-12 col-md-1 col-lg-2"></div>
        </div>
       </div>
    </section>
    
    <section class="section section-sobre">
        <div class="container">
            <div class="row d-flex-center">
                <div class="col-md-6 section-sobre-texto">
                    <div class="section-title">
                        <h2>Descubra a VILLASOFT</h2>
                    </div>
                    <p>
                        Na vanguarda da inovação tecnológica, a Villasoft surge para atender o mercado no cenário em
                        consultoria de TI e outsourcing em tecnologia. Com uma visão comprometida com a excelência e
                        impulsionada pela busca incessante por soluções eficazes, nossa empresa é um farol de
                        confiabilidade para organizações que buscam aprimorar sua presença digital e otimizar operações.
                    </p>
                    <p>
                        Reconhecemos que cada empresa é única, e, portanto, nossas soluções são meticulosamente
                        adaptadas para atender às necessidades específicas de cada cliente. Seja você uma startup
                        ambiciosa, uma empresa de médio porte ou projectos outros tipos de organizações, a Villasoft é
                        seu parceiro confiável na jornada tecnológica.
                    </p>
                </div>
                <div class="col-md-6 rellax section-sobre-imagens" data-rellax-speed="3" data-rellax-percentage="1"
                    data-rellax-xs-speed="0" data-rellax-mobile-speed="0" data-rellax-tablet-speed="4"
                    data-rellax-desktop-speed="3">
                    <img class="" src="/images/sobre2.jpg" alt="">
                    
                </div>
            </div>


        </div>
    </section>

    <div class="section section-timeline">
        <div class="container">
            <div class="timeline">
                <div class="timeline-container left  ">
                    <div class="content wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".1s">
                        <h4>O que é a VILLASOFT</h4>
                        <p>Somo uma empresa angolana que oferece soluções tecnológicas para a sua empresa. Trabalhamos
                            em Luanda e desejamos chegar até si, onde quer que esteja serviços de TI e OUTSORCING de
                            pessoal.</p>
                    </div>
                </div>
                <div class="timeline-container right">
                    <div class="content wow fadeInRight" data-wow-duration="1s" data-wow-delay=".1s">
                        <h4>Missão</h4>
                        <p> Desenvolver soluções de alta qualidade. </p>
                    </div>
                </div>
                <div class="timeline-container left ">
                    <div class="content wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".1s">
                        <h4>Visão</h4>
                        <p>Apoiar pequenas e médias empresas angolanas no processo de transformação digital e
                            desenvolvimento do seu negócio.</p>
                    </div>
                </div>
                <div class="timeline-container right">
                    <div class="content wow fadeInRight" data-wow-duration="1s" data-wow-delay=".1s">
                        <h4>Valores</h4>
                        <p>Profissionalismo e simplicidade.</p>
                    </div>
                </div>
                <div class="timeline-container left ">
                    <div class="content wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".1s">
                        <h4>Desenvolvimento de software</h4>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maiores nihil dolor ab reiciendis tenetur, fugit doloribus exercitationem, quae consectetur iure voluptas. Quod at aspernatur, labore quos quia quo temporibus officia..</p>
                    </div>
                </div>
                <div class="timeline-container right ">
                    <div class="content wow fadeInRight" data-wow-duration="1s" data-wow-delay=".1s">
                        <h4>Consultoria em TI</h4>
                        <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illum quia, maxime odio molestiae quisquam perspiciatis totam sunt at temporibus veniam culpa. Earum, beatae eos eaque atque corporis assumenda. Dicta, repudiandae. .</p>
                    </div>
                </div>
                <div class="timeline-container left ">
                    <div class="content wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".1s">
                        <h4>Formação</h4>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maiores nihil dolor ab reiciendis tenetur, fugit doloribus exercitationem, quae consectetur iure voluptas. Quod at aspernatur, labore quos quia quo temporibus officia..</p>
                    </div>
                </div>
                <div class="timeline-container left ">
                    <div class="content wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".1s">
                        <h4>CEO</h4>
                        <p class="lead">Sílvia António</p>
                        <img src="/images/pessoa.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class="section section-servicos-mais">
        <div class="container">
            <div class="row">

                
                <div class="col-md-6">
                    <div class="section-title">
                        <h2>Pretende</h2>
                    </div>

                    <p> <i class="far fa-check-circle"></i> Desenvolver um software?</p>
                    <p><i class="far fa-check-circle"></i> Tirar mais proveito da tecnologia que já usa?</p>
                    <p><i class="far fa-check-circle"></i> Fazer uma avaliação das necessidades de TI da sua empresa?
                    </p>
                    <p><i class="far fa-check-circle"></i> Capacitar a sua equipa em alguma ferramenta de TI?</p>
                    <p class="m-b-20"><i class="far fa-check-circle"></i> Aumentar a sua equipa com técnicos treinados
                        numa determinada tecnologia?</p>
                    <a href="/contactos">Entre em contacto</a>
                </div>
                <div class="col-md-6 section-servicos-mais-imagem rella">
                    <img class="" src="/images/about-01.png" alt="">
                </div>
            </div>
        </div>
    </section>


    <%- include("include/footer") %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/owl.carousel.min.js"></script>
    <script>
        $('.brand-carousel').owlCarousel({
            loop: true,
            margin: 50,
            autoplay: true,
            responsive: {
                0: {
                    items: 1
                },
                768: {
                    items: 2
                },
                992: {
                    items: 3
                }
            }
        })
    </script>
</body>

</html>