<!DOCTYPE html>
<html lang="pt">

<head>
    <%- include("include/head2") %>
    <title>Recrutamento</title>
</head>

<body>
    <%- include("include/header2") %>
    <section>
        <section class="section-page-title">
            <div class="container">
                <h1>Recrutamento</h1>
            </div>
        </section>
        <section class="section section-recrutamento min-height-100">
            <div class="container">
                <div class="card">
                    <div class="card-body">

                        <div class="table-responsive m-b-40">
                            <table class="table align-middle text-center">
                                
                                <thead>
                                    <th>Vaga</th>
                                    <th>Descrição</th>
                                    <th></th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Técnico em informátia</td>
                                        <td>Técnico de manutenção em computadores e equipamentos informáticos</td>
                                        <td> <a href="/candidatura" class="btn-border-10">Detalhes</a> </td>
                                    </tr>
                                    <tr>
                                        <td>Técnico em informátia</td>
                                        <td>Técnico de manutenção em computadores e equipamentos informáticos</td>
                                        <td> <a href="/candidatura" class="btn-border-10">Detalhes</a> </td>
                                    </tr>
                                    <tr>
                                        <td>Técnico em informátia</td>
                                        <td>Técnico de manutenção em computadores e equipamentos informáticos</td>
                                        <td> <a href="/candidatura" class="btn-border-10">Detalhes</a> </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="row">
                            <div class="col-12 text-end">
        
                                <a href="/candidatura" class="btn-border-10">Candidatura espontânea</a>
                                <br><br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


    </section>
    <%- include("include/footer") %>
</body>

</html>