<!DOCTYPE html>
<html lang="pt">
<head>
    <%- include("include/head") %>
    <title>Erro</title>
</head>
<body>
    <%- include("include/header") %>
    <section class="section text-center min-height-100">
       <div class="container">
        <section class="section-page-title m-b-20">
            <div class="container">
                <h2>Candidatura enviada</h2>
            </div>
        </section>
        <p class="lead m-b-40">A sua candidatura foi enviada com sucesso, entraremos em contacto consigo atravéz do email <span class="color-tema">bernardosacuendi@gmail.com</span>, obrigado</p>
        <a class="btn-border-10" href="/">Valtar para o início</a>
       </div>

    </section>

    <%- include("include/footer") %>
</body>
</html>