<!DOCTYPE html>
<html lang="pt">

<head>
    <%- include("include/head") %>
    <title>Serciços</title>
</head>

<body>
    <%- include("include/header") %>
    <section class="section-page-title">
        <div class="container">
            <h1>Serviços</h1>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="section-title text-center">
                <h2>Serviços que a VilaSoft tem a oferecer</h2>
                <h4>Ajudamos a corrigir as suas necessidades tecnológicas</h4>
            </div>
            <div class="row">
                <div class="col-12 col-md-6 col-lg-4 card-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="row d-flex-center">
                                <div class="col-md-4">
                                    <div class="card-icon">
                                        <i class="fa-solid fa-1"></i>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div class="card-title">
                                        <h5 class="card-title text-center">Outsorcing</h5>
                                    </div>
                                </div>
                            </div>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem ea facilis
                                magni similique eum velit accusamus ex, atque numquam, quaerat porro praesentium sint
                                sunt? Incidunt eius amet autem nulla repellat.</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 card-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="row d-flex-center">
                                <div class="col-md-4">
                                    <div class="card-icon">
                                        <i class="fa-solid fa-2"></i>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div class="card-title">
                                        <h5 class="card-title text-center">Desenvolvimento de software</h5>
                                    </div>
                                </div>
                            </div>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem ea facilis
                                magni similique eum velit accusamus ex, atque numquam, quaerat porro praesentium sint
                                sunt? Incidunt eius amet autem nulla repellat.</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 card-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="row d-flex-center">
                                <div class="col-md-4">
                                    <div class="card-icon">
                                        <i class="fa-solid fa-3"></i>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div class="card-title">
                                        <h5 class="card-title text-center">Transformação digital</h5>
                                    </div>
                                </div>
                            </div>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem ea facilis
                                magni similique eum velit accusamus ex, atque numquam, quaerat porro praesentium sint
                                sunt? Incidunt eius amet autem nulla repellat.</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 card-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="row d-flex-center">
                                <div class="col-md-4">
                                    <div class="card-icon">
                                        <i class="fa-solid fa-4"></i>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div class="card-title">
                                        <h5 class="card-title text-center">Reavaliação de processos</h5>
                                    </div>
                                </div>
                            </div>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem ea facilis
                                magni similique eum velit accusamus ex, atque numquam, quaerat porro praesentium sint
                                sunt? Incidunt eius amet autem nulla repellat.</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 card-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="row d-flex-center">
                                <div class="col-md-4">
                                    <div class="card-icon">
                                        <i class="fa-solid fa-5"></i>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div class="card-title">
                                        <h5 class="card-title text-center">Levantamento e análise da infra-estrutura</h5>
                                    </div>
                                </div>
                            </div>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem ea facilis
                                magni similique eum velit accusamus ex, atque numquam, quaerat porro praesentium sint
                                sunt? Incidunt eius amet autem nulla repellat.</p>
                        </div>
                    </div>
                </div>
              
            </div>
        </div>
    </section>
    <%- include("include/footer") %>
</body>

</html>