<!DOCTYPE html>
<html lang="pt">
<head>
    <%- include("include/head") %>
    <title>Termos de uso</title>
</head>
<body>
    <%- include("include/header") %>
    <section>
        <section class="section-page-title">
            <div class="container">
                <h1>Termos de uso</h1>
            </div>
        </section>
    </section>

    <div class="section">
        <div class="container">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque repellat consectetur consequatur laboriosam, tempora dolorem unde animi dignissimos beatae soluta aperiam sit alias atque neque, officiis esse illo, necessitatibus libero. Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur omnis qui illo quas, vitae eum temporibus est placeat harum nam impedit facere provident natus, nobis sint ducimus, voluptate perspiciatis officiis!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae alias ducimus optio cum nihil reprehenderit illo iste earum necessitatibus error neque libero suscipit, repellendus cumque modi aliquam omnis? Omnis, ipsum? Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo praesentium exercitationem nostrum quisquam natus iusto amet, officiis inventore et, impedit accusantium. Porro explicabo cupiditate fugiat voluptate non, fugit voluptatem iusto?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum reprehenderit non quaerat placeat amet debitis illo laborum error ea itaque aperiam dolorum minima dolor, fugiat iusto quasi ipsum? Tempore, sed.</p>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iure qui, totam, aliquam repellat molestiae tenetur nisi doloremque nam molestias sit debitis necessitatibus ullam. Eius, rem. Quasi totam tempora perspiciatis voluptates!</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugit, saepe veritatis! Aperiam consectetur, minima cumque quod sunt omnis assumenda nisi quaerat dignissimos, iusto deleniti voluptatum et! Alias odio laboriosam soluta. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatem, delectus possimus tempora quod dolores iste dignissimos qui officiis quidem deleniti tempore iure maxime, ullam rerum, porro laboriosam provident est non? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit voluptatem quaerat, ad impedit magni vel nostrum doloribus. Provident explicabo repellat voluptatibus error nulla, voluptate minima praesentium ipsam fugit natus dolorem.</p>
        </div>
    </div>

    <%- include("include/footer") %>
</body>
</html>